header {
  text-align: center;
  color: rgba(240, 240, 240, 1);
  background-color: rgba(0, 0, 0, 1);
  height: 70px;
  width: auto;
  margin: 0;
}

#header-image {
  height: 500px;
  width: auto;
  padding: 0px;
  margin: 0px;
  border: 40px;
  border-color: rgba(0, 0, 0, 1);
}

body {
  background: rgba(240, 240, 240, 0.9);
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

.column {
  background: powderblue;
  width: 700px;
  border-radius: 20px;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#final-image {
  border-radius: 20px;
  height: 300px;
  width: auto;
  padding: 0px;
  margin: 0px;
}

footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(240, 240, 240, 1);
  text-align: right;
  height: 40px;
}
